{% include 'client_header.html'%}
{% load static %}


 <body>
	 	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	     <div class="container">
	      <a class="navbar-brand" href="#">ONLINE LAWYER BOOKING SYSTEM</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">

	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="{% url 'client_home' %}" class="nav-link">Home</a></li>
<!--	          <li class="nav-item"><a href="{% url 'client_details' %}" class="nav-link">My Details</a></li>-->
	          <li class="nav-item"><a href="{% url 'client_lawyers' %}" class="nav-link">Lawyers</a></li>

<!--				<li class="nav-item"><a href="{% url 'booked' %}" class="nav-link">My Bookings</a></li>-->

<!--				<li class="nav-item"><a href="{% url 'clients_view_bookings_services' %}" class="nav-link">My Bookings</a></li>-->
				<li class="nav-item"><a href="{% url 'my_quries' %}" class="nav-link">My Queries</a></li>
				<li class="nav-item"><a href="{% url 'client_view_notification' %}" class="nav-link">Notifications</a></li>
<!--				<li class="nav-item"><a href="/client_change_password/" class="nav-link">Change Password</a></li>-->
<!--	          <li class="nav-item"><a href="{% url 'client_logout' %}" class="nav-link">Logout</a></li>-->
				<li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Bookings
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
							   <a class="dropdown-item" href="{% url 'booked' %}">Lawyers Bookings</a>
                              <a class="dropdown-item" href="{% url 'clients_view_bookings_services' %}">Services Bookings</a>
                           </div>
                        </li>
				<li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Account
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
							   <a class="dropdown-item" href="{% url 'client_details' %}">My Profile</a>
                             <a class="dropdown-item" href="{% url 'client_change_password' %}">Change Password</a>
                              <a class="dropdown-item" href="{% url 'client_logout' %}">Logout</a>
                           </div>
                        </li>
	        </ul>
	      </div>
	    </div>
	  </nav>
 </body>

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
<!--          	<p class="breadcrumbs mb-0"><span class="mr-2"><a>Home <i class="fa fa-chevron-right"></i></a></span>Bookings<span><i class="fa fa-chevron-right"></i></span></p>-->
            <h1 class="mb-0 bread">Bookings</h1>
          </div>
        </div>
      </div>
    </section>
<br>
<!--<center><h2 class="mb-4 section-title"><strong>Client Bookings</strong></h2></center>-->
<div class="container">

    <br>
    <br>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Client Email</th>
                <th>Lawyer Email</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Cost</th>
                <th>Comments</th>
                <th>Add Files</th>
                <th>Feedback</th>
            </tr>
        </thead>
        <tbody>
        {% for form in forms %}
            <tr>
                <td>{{ form.id }}</td>
                <td>{{ form.client.email }}</td>
                <td>{{ form.lawyer.email }}</td>
                <td>{{ form.description }}</td>
                <td>{{ form.date }}</td>
                <td>{{ form.time }}</td>
                <td>
                    {% if form.status == 1 %}
                        <span class="badge bg-success">Approved</span>
                    {% elif form.status == 2 %}
                        <span class="badge bg-danger">Rejected</span>
                    {% else %}
                        <span class="badge bg-info">Pending</span>
                    {% endif %}
                </td>
                <td>{{ form.cost }}</td>
                <td>{{ form.comments }}</td>
                <td>
                    {% if form.status == 1 %}
                        <a href="{% url 'manage_clients' id=form.id %}" class="text-success">Add Files</a><br>
                        <a href="{% url 'manage_files_clients' id=form.id %}">Manage Files</a>
                    {% else %}
                        <span class="text-muted">Not Yet Manage</span>
                    {% endif %}
                </td>
                <td>
                    {% if form.status == 1 %}
                        <a class="btn btn-sm btn-info" href="/feedback/{{ form.id }}">Add Feedback</a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="11" class="text-center text-danger">No Data Found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    </div>
<br>
<br>
<br>
<br>

 {% include 'client_footer.html' %}
